<header class="w-full bg-white sticky top-0 z-50 border-b border-neutral-50">
  <div
    class="max-w-7xl mx-auto px-6 h-24 flex flex-col md:flex-row justify-between items-center py-4 md:py-0"
  >
    <nav
      class="flex gap-8 text-[11px] uppercase tracking-[0.4em] text-neutral-500 order-2 md:order-1 mt-4 md:mt-0"
    >
      <a
        routerLink="/home"
        routerLinkActive="text-neutral-900"
        [routerLinkActiveOptions]="{ exact: true }"
        class="hover:text-neutral-900 transition-colors"
        >Home</a
      >
      <a
        routerLink="/story"
        routerLinkActive="text-neutral-900"
        class="hover:text-neutral-900 transition-colors"
        >Story</a
      >
    </nav>

    <div class="order-1 md:order-2">
      <a
        routerLink="/"
        class="text-2xl font-serif tracking-[0.2em] text-neutral-900 font-light"
      >
        DIANA <span class="text-neutral-300">|</span> ATELIER
      </a>
    </div>

    <div class="hidden md:flex gap-6 order-3 items-center">
      <div class="w-1 h-1 bg-neutral-200 rounded-full"></div>
      <a
        routerLink="/contact"
        class="text-[11px] uppercase tracking-[0.4em] text-neutral-400 hover:text-neutral-900 transition-colors"
        >Contact</a
      >
    </div>
  </div>
</header>
